
.step-state-COMPLETE {
  background-color: #96ff62;
}
.step-state-EXECUTOR_ERROR {
  background-color: red;
}

td.run-status {
  min-width: 40px;
}
.run-state-error td.run-status {
  background-color: red;
}

td.run-id {
  text-overflow: ellipsis;
  max-width: 100px;
}

th {
  padding-top: 200px;
  padding-bottom: 20px;
  white-space: nowrap;
}

th.rotate div {
  transform: translate(15px, 0px) rotate(-45deg);
  width: 20px;
}

table {
  border-collapse: collapse;
}
td {
  height: 40px;
  text-align: center;
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;

}
